{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/css/task_list.css' %}">
    <title>Show Text</title>
</head>
<body>

    <header>
        <h1>JAXL  ASSIGNMENT</h1>
    </header>

    <main>
        <div class="show-text-box">
            <h2>Show Text</h2>
            <p>Text Entered: {{ entered_text }}</p>
        </div>
    </main>

    <footer>
        <p>JAXL  ASSIGNMENT</p>
    </footer>

</body>
</html>
