
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <title>Your Webpage</title>
</head>
<body>

    <header>
        <h1>JAXL  ASSIGNMENT</h1>
    </header>

    <main>
        <div class="first-box">
            <h2>Asymmetric Encryption</h2>
            <form method="post" action="{% url 'process_form1' %}">
                {% csrf_token %}
                <input type="text" name="user_input" placeholder="Enter something..." style="margin-bottom: 10px;">
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
        
        <div class="first-box">
            <h2>Symmetric Encryption</h2>
            <form method="post" action="{% url 'process_form2' %}">
                {% csrf_token %}
                <input type="text" name="user_input" placeholder="Enter something..." style="margin-bottom: 10px;">
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>

        <div class="first-box">
            <h2>Signature</h2>
            <form method="post" action="{% url 'process_form3' %}">
                {% csrf_token %}
                <input type="text" name="user_input" placeholder="Enter something..." style="margin-bottom: 10px;">
                <br>
                <button type="submit">Submit</button>
            </form>
        </div>
       

    </main>

    <footer>
        <p>JAXL  ASSIGNMENT</p>
    </footer>

</body>
</html>
